<div class="container my-4">
    <div class="p-4">
      <h1 class="title">Sign up</h1>
      <p class="paragraph">
        Sign up to create your account
      </p>
 
      <%= form_with url: registrations_url, model: @user, method: :post, class: "contents" do |form| %>
        <div class="my-3 d-flex flex-column align-items-start">
          <label for="user_email_address" class="form-label">Email address</label>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control" %>
        </div>

        <div class="my-3 d-flex flex-column align-items-start">
          <label for="user_password" class="form-label">Password</label>
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control" %>
        </div>
         <div class="my-3 d-flex flex-column align-items-start">
          <label for="user_password_confirmation" class="form-label">Password confirmation</label>
          <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Password confirmation", maxlength: 72, class: "form-control" %>
        </div>

        <div class="my-3 d-flex flex-column align-items-start">
          <label for="user_first_name" class="form-label">First name</label>
          <%= form.text_field :first_name, label: "First name", placeholder: "Enter your first name", class:"form-control" %>
        </div>
        <div class="my-3 d-flex flex-column align-items-start">
          <label for="user_last_name" class="form-label">Last name</label>
          <%= form.text_field :last_name, label: "Last name", placeholder: "Enter your last name", class:"form-control" %>
        </div>


        <div class="d-flex w-100 align-items-center justify-content-between">
          <div class="inline">
            <%= form.submit "Sign up", class: "btn btn-success" %>
          </div>

          <div class="mt-4 text-sm text-gray-500 sm:mt-0">
            <%= link_to "Forgot password?", new_password_path, class: "cl-emerald-900" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
